<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntonSC-Regular.ttf</string>
		<string>RobotoSlab-Regular.ttf</string>
		<string>RobotoSlab-Medium.ttf</string>
		<string>RobotoSlab-Bold.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>TMDB_API_KEY</key>
	<string>fd9852dd2606404af2dbdb683fdc691f</string>
	<key>TMDB_API_READ_ACCESS_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmZDk4NTJkZDI2MDY0MDRhZjJkYmRiNjgzZmRjNjkxZiIsIm5iZiI6MTczMzU0MTE1OC42MTksInN1YiI6IjY3NTNiZDI2MTZlYzQ2YTc3ZjNjOTU2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.lvL_FfchOTPCCs3Xe5b05XLGqbiznilWp2eFCx2gl0g</string>
</dict>
</plist>
